/* Página cabeçalho selecionada */
.selected {
  color: #016072;
  text-decoration: underline;
}

/* Medicamentos Farmacológicos */
.medicines-section {
  margin: 80px 150px;
  color: var(--green-color);
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #252525;
}

.section-title .square {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--green-color);
  margin-right: 10px;
}

.medicines-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.medicine-item {
  width: calc(33.333% - 2rem);
  margin: 2rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.medicine-item:hover {
  transform: translateY(-2px);
}

.medicine-link {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.medicine-img {
  width: 35%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.medicine-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.medicine-price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--green-color);
}
