/* Banner 3ª B Sup */
.banner-container {
  height: 550px;
  max-width: 1577px;
  margin: 80px auto;
  background-color: var(--green-color);
  background-image: url("/img/3b-sup-banner-edit.jpg");
  background-position: center center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 90px;
  height: auto;
}

.banner-text {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: var(--white-color);
}

.banner-subtext {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white-color);
}

/* Medicamentos */
.medicines-section {
  margin: 80px 150px;
  color: var(--green-color);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #252525;
}

.medicines-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.medicine-item {
  flex-basis: calc(33.333% - 2rem);
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.medicine-item:hover {
  transform: translateY(-2px);
}

.medicine-link {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.medicine-img {
  width: 35%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.medicine-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.medicine-price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--green-color);
}
