.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80vh;
}

.product-info {
  max-width: 600px;
  margin-left: 20px;
}

.product-info h1 {
  font-size: 32px;
  color: var(--green-color);
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--letter-font);
  line-height: 1.6;
}

.product-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-info ul li {
  margin-bottom: 5px;
  color: var(--letter-font);
}

.product-image {
  height: auto;
}

/* Estilo para o select */
#lotes {
  appearance: none;
  background-color: var(--green-color);
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.3em top 50%, 0 0;
  border: none;
  border-radius: 5px;
  color: #f3f0ef;
  font-size: 1rem;
  padding: 0.2em 2em 0.2em 1em;
  margin-bottom: 2rem;
  margin-left: 5px;
  cursor: pointer;
}

#lotes:focus {
  outline: none;
}

#lotes option {
  background-color: #f3f0ef;
  color: #6b7087;
}
