/* Presets Gerais */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #252525;
}

:root {
  --grey: #787978;
  --blue-color: #3498db;
  --light-gray: #f3f0ef;
  --green-color: #016072;
  --white-color: #ffffff;
  --letter-font: #6b7087;
  --letter-font-secondary: #252525;
}
